.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  @media (max-width: 469px) {
    grid-gap: 1px;
  }
}
.noPostWrapper{
  height: 67vh;
  background-color: #FAFAFA;
}
.noPost{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}