.container {
  display: flex;
  flex-direction: column;
  z-index: 5;
  background-color: #ffffff;
  border: 1px solid #efefef;
  border-radius: 3px;
  padding: 13px 0px 0px 17px;
  max-width: 300px;
  width: 100%;
  overflow-y: scroll;
  flex-grow: 0;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  @media (max-width: 735px) {
    display: none;
  }
}

.title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #8e8e8e;
  position: sticky;
  top: 0;
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 31px;
    position: absolute;
    top: -13px;
    left: -8px;
    z-index: -1;
    background-color: white;
  }
}

.wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-right: 16px;
  gap: 10px;
  padding-bottom: 16px;

  & a div p {
    margin-left: 15px;
  }
}
