.container {
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.emptyMessage {
  max-width: 600px;
  width: max-content;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI';
}