.modalRoot {
  width: 100vw;
  height: 100vh;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 60px;
  z-index: 100;
  @media (max-width: 420px) {
    padding: 0;
  }
}

.closeModal {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
}

.post {
  max-width: 785px;
  max-height: 450px;
  height: 100%;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  @media (max-width: 735px) {
    flex-direction: column;
    max-width: 400px;
    max-height: fit-content;
    height: auto;
  }
  @media (max-width: 420px) {
    max-width: none;
    width: 100%;
  }
}

.image {
  width: 100%;
}

.imageHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  height: 100%;
  background-color: #000;
  cursor: pointer;
}

.menu {
  max-width: 335px;
  min-width: 300px;
  width: 100%;
  box-sizing: border-box;
  @media (max-width: 735px) {
    max-width: 400px;
    min-width: 0;
    max-height: fit-content;
    height: auto;
  }
}

.noComments {
  font-size: 16px;
  font-weight: bold;
  color: #c2c2c2;
}

.main {
  overflow: auto;
  border-top: 1px solid #efefef;
  height: 263px;
  padding: 16px 16px 0;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  @media (max-width: 735px) {
    display: none;
  }
}

.footer {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 16px;
  border-top: 1px solid #efefef;
}

.likeAmount {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: rgba(38, 38, 38, 1);
  font-size: 15px;
}

.header {
  padding: 16px;
  display: flex;
  gap: 13px;
  align-items: center;
}

.authorImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.authorName {
  font-size: 14px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
