.container{
  padding-top: 80px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.sorry{
  font-size: 22px;
  font-weight: 600;
}
.broken{
  font-weight: 400;
  font-size: 16px;
  margin-top: 40px;
}