.button {
  border: 0px solid;
  background-color: transparent;
  color: #0095f6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}

.unsubscribeButton {
  @extend .button;
  color: #262626;
}
