.button {
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 0px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: 147px;
  padding: 0 24px;
  cursor: pointer;
  background: #0095f6;
  color: #fff;
  margin-left: 20px;
}

.unsubscribeButton {
  @extend .button;
  color: #262626;
  background: #ecedf6;
  border-width: 1px;
}
