.globalLoader{
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  text-align: center;
  & div img{
    filter: grayscale(1)contrast(0.8);
    width: 80px;
  }
}
