.image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 13px;
}

.comment {
  display: flex;
  margin-bottom: 16px;
}

.commentWrap {
  display: flex;
  line-height: 18px;
  font-size: 15px;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.message {
  width: 222px;
  word-wrap: break-word;
}

.link {
  text-decoration: none;
}

.author {
  margin-right: 4px;
  color: rgba(38, 38, 38, 1);
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  text-decoration-line: none;
}
