.container {
  padding-left: 40px;
  padding-right: 28px;
  margin-bottom: 20px;
}

.comment {
  margin: 10px 0 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__text {
    font-size: 14px;
    font-weight: 400;
    padding-left: 6px;
  }
}

.toggler {
  font-size: 14px;
  font-weight: 400;
  color: rgb(142, 142, 142);
  cursor: pointer;
  user-select: none;
}
