.container {
  padding: 12px 16px;
  border-top: 1px solid rgb(239, 239, 239);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.textarea {
  resize: none;
  height: 16px;
  max-height: 80px;
  outline: none;
  border: none;
  padding: 0;
  background-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  display: block;
  overflow: hidden;
  width: 100%;
}

.submit {
  outline: none;
  border: none;
  background-color: transparent;
  color: #0095f6;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.3;
  cursor: pointer;
  user-select: none;
}
