.globalWrapper{
	display: grid;
	grid-template-columns: 600px auto;
	justify-content: center;
	justify-items: center;
	grid-gap: 50px;

	padding-top: 80px;
	background-color: #FAFAFA;
	min-height: 100vh;
	box-sizing: border-box;

	@media (max-width:999px) {
		grid-template-columns: auto;
	}
}

.recWrapper{
	position: relative;
	width: 300px;
	box-sizing: border-box;
	max-height: 220px;
	@media (max-width:999px) {
		display: none;
	}
}